importFrom(stats, screeplot)


exportClasses(
              pcaRes,
              nniRes
              )

exportMethods(
              slplot,
              summary,
              print
              )

export(
       pca,
       nni,
       plotPcs,
       ppca,
       bpca,
       nipalsPca,
       svdPca,
       prep,
       Q2,
       svdImpute,
       checkData,
       kEstimate,
       llsImpute
       )
