export(asExprSet)
export(bpca)
export(checkData)
exportClasses(nlpcaNet)
exportClasses(nniRes)
exportClasses(pcaRes)
export(cvseg)
export(kEstimate)
export(kEstimateFast)
export(listPcaMethods)
export(llsImpute)
exportMethods(center)
exportMethods(centered)
exportMethods(completeObs)
exportMethods(cvstat)
exportMethods(DModX)
exportMethods(leverage)
exportMethods(loadings)
exportMethods(method)
exportMethods(nmissing)
exportMethods(nObs)
exportMethods(nP)
exportMethods(nPcs)
exportMethods(nVar)
exportMethods(R2cum)
exportMethods(scaled)
exportMethods(scl)
exportMethods(scores)
exportMethods(sDev)
exportMethods(slplot)
exportMethods(wasna)
export(nipalsPca)
export(nlpca)
export(nni)
export(pca)
export(plotPcs)
export(ppca)
export(prep)
export(Q2)
export(RnipalsPca)
export(robustPca)
export(robustSvd)
export(showNniRes)
export(showPcaRes)
export(svdImpute)
export(svdPca)
export(scores.pcaRes)
export(loadings.pcaRes)
importFrom(methods,show)
importFrom(stats,biplot)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,resid)
importFrom(stats,residuals)
S3method(biplot,pcaRes)
S3method(dim,pcaRes)
S3method(fitted,pcaRes)
S3method(loadings,pcaRes)
S3method(plot,pcaRes)
S3method(predict,pcaRes)
S3method(residuals,pcaRes)
S3method(scores,pcaRes)
useDynLib(pcaMethods)
